<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-color">
            <div class="modal-header">
                <h1 class="modal-title fs-2">Confirmar eliminacion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <label class="modal-body">
                Se eliminara la siguiente tarea
            </label>
            <div class="modal-footer justify-content-between">
                <button type="button" class="col-3 btn" id="cancel-button" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="col-3 btn" id="confirm-delete-btn">Eliminar</button>
            </div>
        </div>
    </div>
</div>