<div class="modal fade" id="update-modal">
    <div class="modal-dialog">
        <div class="modal-content bg-color">
            <div class="modal-header">
                <h1 class="modal-title fs-2">Editar Tarea</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <input type="hidden" class="form-control" id="id-update" required>
                </div>
                <div class="mb-3">
                    <label for="title-update" class="col-form-label">Titulo</label>
                    <input type="text" class="form-control" id="title-update" required>
                </div>
                <div class="mb-3">
                    <label for="description-update" class="col-form-label">Descripcion</label>
                    <textarea class="form-control" id="description-update" required></textarea>
                </div>
                <div class="mb-3 d-flex flex-wrap align-items-center">
                    <label for="color-update" class="col-12 mb-2">Color</label>
                    <div class="col-10">
                        <select class="form-control" id="color-update">
                            <option value="blue">Azul</option>
                            <option value="cornflowerblue">Azul claro</option>
                            <option value="darkseagreen">Verde</option>
                            <option value="coral">Naranja</option>
                            <option value="blueviolet">Morado</option>
                            <option value="brown">Marrón</option>
                            <option value="gold">Amarillo</option>
                        </select>
                    </div>
                    <div id="color-circle-update" class="blue"></div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" id="cancel-button" class="col-3 btn" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="update-button" class="col-3 btn">Guardar</button>
            </div>
        </div>
    </div>
</div>